<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

   <xacro:macro name="vention_rail" params="
    name
    tf_prefix
    use_fake_hardware:=false
    ip_addr:=192.168.1.104
    port:=9999
    position_limit:=2.0
    velocity_limit:=0.15
    acceleration_limit:=1.0">

    <link name="${tf_prefix}vention_rail_base_link">
      <visual>
        <origin xyz="-1.18125 0 0" rpy="0 0 0"/>
        <geometry>
          <!-- <box size="2.3625 0.153 0.09"/> -->
          <mesh filename="file://$(find vention_rail_description)/meshes/base.dae"/>
        </geometry>
      </visual>
    </link>

    <link name="${tf_prefix}vention_rail_carriage">
      <visual>
        <origin xyz="-0.1115 0 0.39115" rpy="0 0 0"/>
        <geometry>
          <box size="0.223 0.223 0.023"/>
          <!-- <mesh filename="file://$(find vention_rail_description)/meshes/carriage.dae"/> -->
        </geometry>
        <material name="grey">
          <color rgba="0.7 0.7 0.7 1"/>
        </material>
      </visual>
    </link>
    
    <joint name="${tf_prefix}vention_rail_base_to_carriage" type="prismatic">
      <origin xyz="-0.223 0 0" rpy="0 0 3.14159"/>
      <parent link="${tf_prefix}vention_rail_base_link"/>
      <child link="${tf_prefix}vention_rail_carriage"/>
      <limit effort="1000" velocity="${velocity_limit}" lower="0" upper="${position_limit}"/>
    </joint>


    <xacro:include filename="$(find vention_rail_description)/urdf/vention_rail.ros2_control.xacro" />
    <xacro:vention_rail_ros2_control
      name="${name}"
      use_fake_hardware="${use_fake_hardware}"
      tf_prefix="${tf_prefix}"
      ip_addr="${ip_addr}"
      port="${port}"
      position_limit="${position_limit}"
      velocity_limit="${velocity_limit}"
      acceleration_limit="${acceleration_limit}"
    />
  </xacro:macro>

</robot>
