<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

   <xacro:macro name="vention_rail" params="
    name
    tf_prefix
    parent:=world
    use_fake_hardware:=false
    ip_addr:=192.168.1.104
    port:=9999
    position_limit:=2.0
    velocity_limit:=0.15
    acceleration_limit:=1.0
    *origin">

    <joint name="${tf_prefix}vention_rail_base_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${tf_prefix}vention_rail_base_link"/>
      <xacro:insert_block name="origin"/>
    </joint>

    <link name="${tf_prefix}vention_rail_base_link">
      <visual>
        <origin xyz="0 0 0.045" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://$(find vention_rail_description)/meshes/rail_des_live_body.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="-0.0375 0 0.045" rpy="0 0 0"/>
        <geometry>
          <box size="2.4375 0.1350 0.0900"/>
        </geometry>
      </collision>
    </link>

    <link name="${tf_prefix}vention_rail_carriage">
      <visual>
        <geometry>
          <mesh filename="file://$(find vention_rail_description)/meshes/rail_des_live_carriage.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0.00825" rpy="0 0 0"/>
        <geometry>
          <box size="0.223 0.223 0.0205000"/>
        </geometry>
      </collision>
    </link>

    <joint name="${tf_prefix}vention_rail_base_to_carriage" type="prismatic">
      <origin xyz="-0.96975 0 0.09600" rpy="0 0 0"/>
      <parent link="${tf_prefix}vention_rail_base_link"/>
      <child link="${tf_prefix}vention_rail_carriage"/>
      <limit lower="0" upper="${position_limit}" effort="1000" velocity="${velocity_limit}"/>
    </joint>

    <link name="${tf_prefix}vention_rail_gearbox">
      <visual>
        <geometry>
          <mesh filename="file://$(find vention_rail_description)/meshes/rail_des_gearbox.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.013 0 0.017875" rpy="0 0 0"/>
        <geometry>
          <box size="0.12310 0.08600 0.13735"/>
        </geometry>
      </collision>   
    </link>

    <joint name="${tf_prefix}vention_rail_base_to_gearbox" type="fixed">
      <origin xyz="-1.3308 0 0.05455" rpy="0 0 0"/>
      <parent link="${tf_prefix}vention_rail_base_link"/>
      <child link="${tf_prefix}vention_rail_gearbox"/>
    </joint>

    <link name="${tf_prefix}vention_rail_motor">
      <visual>
        <geometry>
          <box size="0.086 0.086 0.226"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <box size="0.086 0.086 0.226"/>
        </geometry>
      </collision>
    </link>

    <joint name="${tf_prefix}vention_rail_gearbox_to_motor" type="fixed">
      <origin xyz="-0.00555 0 0.19955" rpy="0 0 0"/>
      <parent link="${tf_prefix}vention_rail_gearbox"/>
      <child link="${tf_prefix}vention_rail_motor"/>
    </joint>

    <link name="${tf_prefix}vention_rail_cable_0">
      <visual>
        <geometry>
          <cylinder radius="0.015" length="0.075"/>
        </geometry>
      </visual>
    </link>

    <joint name="${tf_prefix}vention_motor_to_cable_0" type="fixed">
      <origin xyz="0.0231 -0.0805 0.098" rpy="${radians(90)} 0 0"/>
      <parent link="${tf_prefix}vention_rail_motor"/>
      <child link="${tf_prefix}vention_rail_cable_0"/>
    </joint>
    
    <link name="${tf_prefix}vention_rail_cable_1">
      <visual>
        <geometry>
          <cylinder radius="0.015" length="0.075"/>
        </geometry>
      </visual>
    </link>

    <joint name="${tf_prefix}vention_motor_to_cable_1" type="fixed">
      <origin xyz="-0.0231 -0.0805 0.098" rpy="${radians(90)} 0 0"/>
      <parent link="${tf_prefix}vention_rail_motor"/>
      <child link="${tf_prefix}vention_rail_cable_1"/>
    </joint>

    <link name="${tf_prefix}vention_rail_cable_collision">
      <collision>
        <geometry>
          <box size="0.0762 0.2286 0.0762"/>
        </geometry>
      </collision>
    </link>

    <joint name="${tf_prefix}vention_motor_to_cable_collision" type="fixed">
      <origin xyz="0 -0.1573 0.0749" rpy="0 0 0"/>
      <parent link="${tf_prefix}vention_rail_motor"/>
      <child link="${tf_prefix}vention_rail_cable_collision"/>
    </joint>


    <xacro:include filename="$(find vention_rail_description)/urdf/vention_rail.ros2_control.xacro" />
    <xacro:vention_rail_ros2_control
      name="${name}"
      use_fake_hardware="${use_fake_hardware}"
      tf_prefix="${tf_prefix}"
      ip_addr="${ip_addr}"
      port="${port}"
      position_limit="${position_limit}"
      velocity_limit="${velocity_limit}"
      acceleration_limit="${acceleration_limit}"
    />
  </xacro:macro>

</robot>
