<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="$(arg name)">

   <!-- robot name parameter -->
  <xacro:arg name="name" default="vention_rail"/>
  <xacro:arg name="tf_prefix" default="" />
  <xacro:arg name="use_fake_hardware" default="false" />
  <xacro:arg name="ip_addr" default="192.168.1.104" />
  <xacro:arg name="port" default="9999" />
  <xacro:arg name="position_limit" default="2.0" />
  <xacro:arg name="velocity_limit" default="0.15" />
  <xacro:arg name="acceleration_limit" default="1.0" />
  <xacro:arg name="safety_com_port" default="/dev/safety_com_port" />

  <link name="world"/>

  <xacro:include filename="$(find vention_rail_description)/urdf/vention_macro.urdf.xacro"/>
  <xacro:vention_rail
    name="$(arg name)"
    tf_prefix="$(arg tf_prefix)"
    parent="world"
    use_fake_hardware="$(arg use_fake_hardware)"
    ip_addr="$(arg ip_addr)"
    port="$(arg port)"
    position_limit="$(arg position_limit)"
    velocity_limit="$(arg velocity_limit)"
    acceleration_limit="$(arg acceleration_limit)"
    safety_com_port="$(arg safety_com_port)"
  >
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:vention_rail>

</robot>